/* Proxima Nova */
@font-face {
    font-family: "Proxima Nova";
    src: url("../fonts/proxima_nova/proximanova_bold.otf");
    font-weight: 700;
}

/* Staatiliches */
@font-face {
    font-family: "Staatiliches";
    src: url("../fonts/staatiliches/Staatliches-Regular.ttf");
    font-weight: 400;
}

/* SF Pro Display */
@font-face {
    font-family: "SF Pro Display";
    src: url("../fonts/sf_pro/SF-Pro-Display-Regular.otf");
    font-weight: 400;
}

@font-face {
    font-family: "SF Pro Display";
    src: url("../fonts/sf_pro/SF-Pro-Display-Medium.otf");
    font-weight: 500;
}

@font-face {
    font-family: "SF Pro Display";
    src: url("../fonts/sf_pro/SF-Pro-Display-Semibold.otf");
    font-weight: 600;
}

@font-face {
    font-family: "SF Pro Display";
    src: url("../fonts/sf_pro/SF-Pro-Display-Bold.otf");
    font-weight: 700;
}

/* Barlow */
@font-face {
    font-family: "Barlow";
    src: url("../fonts/barlow/Barlow-Light.ttf");
    font-weight: 300;
}

@font-face {
    font-family: "Barlow";
    src: url("../fonts/barlow/Barlow-Regular.ttf");
    font-weight: 400;
}

@font-face {
    font-family: "Barlow";
    src: url("../fonts/barlow/Barlow-SemiBold.ttf");
    font-weight: 600;
}

@font-face {
    font-family: "Barlow";
    src: url("../fonts/barlow/Barlow-Bold.ttf");
    font-weight: 700;
}

