:root {
    /* main settings */
    --main-page-background: var(--palette-light-primary-color);
    --main-page-font: 'SF Pro Display', Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;

    --primary-text-color: var(--palette-dark-primary-color);
    --hover-primary-block-background: var(--palette-dark-primary-color);

    /* colors */
    --palette-dark-primary-color: #2F3035;

    --palette-light-primary-color: #FFFFFF;
    --palette-light-secondary-color: #eaeaea;
    --palette-light-third-color: #F4F4F4;
    --palette-light-thin-color: #C4C4C4;
    --palette-light-footer-color: #F9F9FC;

    --palette-gray-primary-color: #7F7F7F;

    --pallete-accent-color: #1C62CD;
    --pallete-success: #008C49;
    --pallete-error: #D80000;

    /* platform */
    --tablet: 1207px;
    --mobile: 767px;

}